{
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6":     true,
        "browser": true,
        "node":    true,
        "mocha":   true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb"
    ],
    "rules": {
      "import/extensions": 0,
      "import/no-unresolved": 0,
      "import/no-extraneous-dependencies": 0,
      "react/jsx-filename-extension": 0,
      "import/no-named-as-default": 0,
      "react/forbid-prop-types": [0]
    }
}
