/* Basic colors */
$color-black: #000;
$color-gray-10: color($color-black lightness(10%));
$color-gray-20: color($color-black lightness(20%));
$color-gray-30: color($color-black lightness(30%));
$color-gray-40: color($color-black lightness(40%));
$color-gray-50: color($color-black lightness(50%));
$color-gray-60: color($color-black lightness(60%));
$color-gray-70: color($color-black lightness(70%));
$color-gray-80: color($color-black lightness(80%));
$color-gray-90: color($color-black lightness(90%));
$color-white: #fff;
